<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Duration</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for task in pagination %}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.status.name }}</td>
            <td>{{ task.duration }}</td>
            <td>
                <a href="{{ path('app_task_show', {'id': task.id}) }}">show</a>
                <a href="{{ path('app_task_edit', {'id': task.id}) }}">edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>